body{
    height: 100%;
    background-color: #100F13;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1850px;
    min-height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    margin-bottom: 30px;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
}
